{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="question8" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              In the last 6 months, do you think changes to PIPCS have:
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changes-to-pipcs" name="changes-to-pipcs" type="radio" value="Greatly improved the system">
              <label class="govuk-label govuk-radios__label" for="changes-to-pipcs">
                Greatly improved the system
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changes-to-pipcs-2" name="changes-to-pipcs" type="radio" value="Somewhat improved the system">
              <label class="govuk-label govuk-radios__label" for="changes-to-pipcs-2">
                Somewhat improved the system
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changes-to-pipcs-3" name="changes-to-pipcs" type="radio" value="Made no change">
              <label class="govuk-label govuk-radios__label" for="changes-to-pipcs-3">
                Made no change
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changes-to-pipcs-4" name="changes-to-pipcs" type="radio" value="Somewhat worsened the system">
              <label class="govuk-label govuk-radios__label" for="changes-to-pipcs-4">
                Somewhat worsened the system
              </label>
            </div>            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changes-to-pipcs-5" name="changes-to-pipcs" type="radio" value="Greatly worsened the system">
              <label class="govuk-label govuk-radios__label" for="changes-to-pipcs-5">
                Greatly worsened the system
              </label>
            </div>            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changes-to-pipcs-3" name="changes-to-pipcs" type="radio" value="I have not noticed any changes">
              <label class="govuk-label govuk-radios__label" for="changes-to-pipcs-3">
                I have not noticed any changes
              </label>
            </div>
          </div>
      
        </fieldset>
      </div>


      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
