{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="informationtype" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How easy is it to find the information you need in PIPCS?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-easy-to-find-info" name="how-easy-to-find-info" type="radio" value="Very easy">
              <label class="govuk-label govuk-radios__label" for="how-easy-to-find-info">
                Very easy
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-easy-to-find-info-2" name="how-easy-to-find-info" type="radio" value="Quite easy">
              <label class="govuk-label govuk-radios__label" for="how-easy-to-find-info-2">
                Quite easy
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-easy-to-find-info-3" name="how-easy-to-find-info" type="radio" value="Quite hard">
              <label class="govuk-label govuk-radios__label" for="how-easy-to-find-info-3">
                Quite hard
              </label>
            </div>
          
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-easy-to-find-info-4" name="how-easy-to-find-info" type="radio" value="Very hard">
            <label class="govuk-label govuk-radios__label" for="how-easy-to-find-info-4">
              Very hard
            </label>
            </div>
 
          </div>


        
          </fieldset>
        </div>
      

      <button class="govuk-button" data-module="govuk-button">Continue</button>

    </form>

  </div>
</div>

{% endblock %}
